services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-airflow}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-airflow}
      POSTGRES_DB: ${POSTGRES_DB:-airflow}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-airflow} -d ${POSTGRES_DB:-airflow}"]
      interval: 5s
      timeout: 5s
      retries: 30

  airflow-init:
    build: .
    image: ter-airflow:2.10.5
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER:-airflow}:${POSTGRES_PASSWORD:-airflow}@postgres:5432/${POSTGRES_DB:-airflow}
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/project/airflow
      PYTHONPATH: /opt/airflow/project
      AIRFLOW_CONN_AWS_DEFAULT: aws://
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN:-}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION:-eu-north-1}
    volumes:
      - ./:/opt/airflow/project
      - airflow_logs:/opt/airflow/logs
      - airflow_data_temp:/opt/airflow/data_temp
    command: bash -lc "airflow db migrate && airflow users create --username '${AIRFLOW_ADMIN_USERNAME:-admin}' --password '${AIRFLOW_ADMIN_PASSWORD:-admin123!}' --firstname 'Admin' --lastname 'User' --role 'Admin' --email '${AIRFLOW_ADMIN_EMAIL:-admin@example.com}' || true"

  airflow-webserver:
    image: ter-airflow:2.10.5
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    env_file:
      - .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER:-airflow}:${POSTGRES_PASSWORD:-airflow}@postgres:5432/${POSTGRES_DB:-airflow}
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/project/airflow
      PYTHONPATH: /opt/airflow/project
      AIRFLOW_CONN_AWS_DEFAULT: aws://
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN:-}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION:-eu-north-1}
    ports:
      - "8080:8080"
    volumes:
      - ./:/opt/airflow/project
      - airflow_logs:/opt/airflow/logs
      - airflow_data_temp:/opt/airflow/data_temp
    command: airflow webserver --host 0.0.0.0 --port 8080

  airflow-scheduler:
    image: ter-airflow:2.10.5
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    env_file:
      - .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER:-airflow}:${POSTGRES_PASSWORD:-airflow}@postgres:5432/${POSTGRES_DB:-airflow}
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/project/airflow
      PYTHONPATH: /opt/airflow/project
      AIRFLOW_CONN_AWS_DEFAULT: aws://
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN:-}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION:-eu-north-1}
    volumes:
      - ./:/opt/airflow/project
      - airflow_logs:/opt/airflow/logs
      - airflow_data_temp:/opt/airflow/data_temp
    command: airflow scheduler
  streamlit:
    image: ter-airflow:2.10.5
    depends_on:
      airflow-webserver:
        condition: service_started
    env_file:
      - .env
    environment:
      PYTHONPATH: /opt/airflow/project
      # Pour accéder à Postgres Airflow depuis le conteneur
      PG_HOST: postgres
      PG_PORT: 5432
      PG_DB: ${POSTGRES_DB:-airflow}
      PG_USER: ${POSTGRES_USER:-airflow}
      PG_PASSWORD: ${POSTGRES_PASSWORD:-airflow}

      # S3 monitoring
      S3_BUCKET: ${S3_BUCKET:-}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION:-eu-north-1}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN:-}

      # Prefix monitorés (tu peux les adapter)
      S3_INPUT_PREFIX: ${S3_INPUT_PREFIX:-raw_files/}
      S3_OUTPUT_PREFIX: ${S3_OUTPUT_PREFIX:-parquets_files/}
    volumes:
      - ./:/opt/airflow/project
    ports:
      - "8501:8501"
    command: >
      bash -lc "python -m streamlit run /opt/airflow/project/monitoring/app.py
      --server.port=8501 --server.address=0.0.0.0"
  dbt:
    image: python:3.11-slim
    working_dir: /project/transformation/transforme_with_dbt/dbt
    volumes:
      - ./:/project
    command: bash -lc "pip install --no-cache-dir -r /project/requirements-dbt.txt && sleep infinity"
volumes:
  airflow_logs:
  airflow_data_temp: